{{#section "changeUserDataSuccessCss"}}
    <link rel="stylesheet" href="stylesheets/changeUserDataSuccess.css">
{{/section}}

<!---提示框-->
<div class="fail">
    <!--提示文字信息-->
    <div class="failTitle">
        <p>用户信息修改成功，请<a href="/userDetail">点击返回</a>！！！！</p>
    </div>
</div>

{{#section "changeUserDataSuccessJs"}}
    <script src="javascript/changeUserDataSuccess.js"></script>
{{/section}}