
/*用户名 密码部分*/
.usernameArea{
    margin-top: 20px;
    width:70%;
    height:520px;
}
.usernameArea p{
    width:100%;
    height:50px;
    margin-top: 20px;
    font-size: 18px;
    border-bottom: 1px solid #F0F0F0;
}
.usernameArea p span{
    margin-left: 20px;
}

/*修改资料部分*/
.usernameArea p input{
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #595959;
}

/*用户头像部分*/
.userImgArea{
    width:70%;
    height:150px;
    /*background-color: red;*/
    position: relative;
}
.userImg{
    width:130px;
    height:130px;
    background-color: pink;
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left:10px;
    border-radius: 50%;
    overflow: hidden;
}
.userImgChange{
    width:100px;
    height:30px;
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left:200px;
    border-radius: 20px;
    border: 1px solid #7DD769;
}
.userImgChange>a{
    display:inline-block;
    width:100px;
    height:30px;
    position:relative;
    border-radius: 20px;
    overflow:hidden;
    text-decoration: none;
}
.userImgChange>a>input{
    position:absolute;
    right:0;
    top:0;
    opacity:0;
    filter:alpha(opacity=0);
}
.userImgChange>a>span{
    padding-top: 3px;
    display: block;
    text-align: center;
    color:#65C355;
}
